:root {
    --white: #FFFFFF;
    --black: #232323;
    --back_2: #333333;
    --gris: #E5E5E5;
    --green: #4CF148;
    --yellow: #FFBA08;
    --red: #ED062E;
    --red_2: #E53F41;
    --red_3: #AF1521;
    --blue: #5648F1;

    --p: 16px;
    --h3: 20px;
    --h2: 24px;
    --h1: 32px;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
background-color: var(--black);
}

.header_container{
    background-color: var(--back_2);
    width: 100%;
}

.container{
    width: 100%;
    background-color: var(--back_2);
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
}

.nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav_logo{
    color: var(--white);
    font-size: var(--h2);
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
}

.nav_logo:hover{
    text-decoration: none !important;
}

.nav_hamburger{
    width: 30px;
    height: 30px;
    background-image: url('../assets/icon/menu_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0 16px;

    z-index: 100;
    transition: background-image .3s ;
}

.nav_hamburger--open{
    background-image: url('../assets/icon/menu_icon--close.svg');
}

.nav_overlay{
    position: fixed;
    inset: 0;

    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
}

.nav_overlay--show{
    opacity: 1;
    pointer-events: unset;
}

.nav_menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--back_2);
    width: 65%;
    max-width: 400px;
    padding: 0;
    list-style: none;
    overflow: auto;
    padding: 70px 0;
}

.nav_item{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: var(--white);
    cursor: pointer;
    padding: 20px 0;
}

.nav_link{
    color: var(--white);
    font-size: var(--h3);
    text-decoration: none;
    padding: 8px 0;
}

.nav_link:hover{
    text-decoration: underline;
}

.main_container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.sobre_mi_container{
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture_sobre_mi{
    width: 100%;
    max-width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: var(--back_2);
    margin: 0 auto;
    margin: 16px 0 32px;
}

.picture_sobre_mi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .habilidades{
    width: 100%;
    max-width: 400px;
    height: 100%;
} */

.sobre_mi{
    
    color: var(--white);
    padding: 16px;
}

.sobre_mi_h3{
    color: var(--white);
    font-size: var(--h2);
    padding: 0 0 16px;
    font-weight: 600;
}

.sobre_mi_p{
    font-size: var(--p);
    color: var(--white);
    line-height: 22px;
    font-weight: 300;
    padding: 0 0 32px;
}

/* .habilidades_container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
} */

.container_hablidades{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--back_2);
    padding: 16px 0;
}

.habilidades_h2{
    font-size: var(--h1);
    font-weight: 700;
    padding: 0 0 16px;
    color: var(--white);
    text-align: center;
}

.habilidades_h3{
    font-size: var(--h3);
    font-weight: 600;
    padding: 0 0 16px;
    color: var(--white);
}

.habilidad{
    color: var(--white);
    font-size: var(--p);
    font-weight: 500;
    line-height: 22px;
    padding: 16px 0;
}

.habilidad ul{
    list-style: none;
}

.habilidad ul li{
    font-size: var(--p);
    font-weight: 300;
    padding: 4px 0 4px 16px;
}

/* .habilidades_icons{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 8px;
} */

/* .habilidades_icons a img:hover{
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
} */

.proyectos_container, .servicios_container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0 50px;

}

.proyectos_h2, .servicios_h2{
    color: var(--white);
    font-size: var(--h1);
    font-weight: 700;
    padding: 0 0 16px;
}

.card_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    min-width: 300px;
    height: 100%;
    /* min-height: 250px; */
    padding: 16px 0;
    gap: 16px;
}

.card_title{
    color: var(--white);
    font-size: var(--p);
    font-weight: 500;
}

.ver_mas_link{
    display: inline-block;
    margin: 32px 0 16px;
    font-weight: 300;
    font-size: var(--p);
    color: var(--red_2);
    text-decoration: none;
}

.ver_mas_link:hover{
    text-decoration: underline;
}

/* Imagenes de las tarjetas */

.card_img{
    background-color: red;
}

.card_img img{
    width: 100%;
    min-width: 300px;
    min-height: 169px;
    max-width: 320px;
    max-height: 180px;
    object-fit: cover;
}

/* Contacto */

.contacto_container{
    width: 90%;
    max-width: 500px;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
}

.container_img--contacto{
    display: none;
}

.form_contacto_container{
    display: flex;
    flex-direction: column;
}

.contacto_h3{
    color: var(--white);
    font-size: var(--h3);
    font-weight: 700;
    text-align: center;
    padding: 16px 0 32px;
}

.inputs_container{
    display: flex;
    flex-direction: column;
}

.inputs_container label{
    color: var(--white);
    font-size: var(--p);
    font-weight: 300;
    padding: 0 0 8px;
}

.inputs_container input{
    width: 100%;
    height: 40px;
    background-color: var(--gris);
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: 0 0 16px;
    outline: none;
    font-size: var(--p);
    color: var(--black);
    font-weight: 300;
}   

.inputs_container input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.inputs_container textarea{
    background-color: var(--gris);
    width: 100%;
    height: 300px;
    margin: 0 0 32px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    resize: none;
    outline: none;
    font-size: var(--p);
    color: var(--black);
    font-weight: 300;
}

.inputs_container textarea:focus{
    outline: none;
}

.inputs_container textarea::-webkit-scrollbar{
    width: 0;
}

.container_button{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background-color: var(--red_3);
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;

    text-align: center;
    color: var(--white);
    font-size: var(--p);
    font-weight: 500;
}


.button_contacto{
    color: var(--white);
    font-size: var(--p);
}

.button_contacto:hover{
    text-decoration: none !important;
}

/* Footer */

.footer_container{
    width: 100%;
    height: 150px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--back_2);
}

.footer_container p{
    text-align: center;
    color: var(--white);
    font-weight: 300;
}

.social_media_icon{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    max-width: 250px;
    margin: 0 auto;
}

.social_media_icon .icon img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .nav{
        overflow: visible;
    }

    .nav_hamburger{
        display: none;
    }

    .nav_overlay{
        position: unset;
        background-color: transparent;
        opacity: 1;
        pointer-events: unset;
    }

    .nav_menu{
        position: unset;
        width: 100%;
        max-width: unset;
        background-color: unset;
        padding: 0;
        overflow: unset;

        display: flex;
        align-items: center;
        gap: 1em;
    }

    .nav_item{
        display: flex;
        flex-direction: row;
        gap: 1em;
        width: auto;
        margin: 0;
        padding-right: 16px;
    }

    .nav_link{
        font-size: var(--p);
        font-weight: 300;
        margin: unset;
    }

    .sobre_mi_container{
        width: 100%;
        margin: 0 auto 50px;
        display: flex;
        flex-direction: row;
        align-items: unset;
        justify-content: space-evenly;
        max-width: 900px;
    }

    .container_hablidades{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: var(--back_2);
        padding: 16px 0;
        margin: 0 auto;
    }
/* 
    .habilidades{
        padding: 32px 0;
    } */

    .sobre_mi{
        width: 400px;
        min-width: 300px;
        margin: 0 auto;
    }

    /* .habilidades_icons a img{
        width: 40px;
    } */

    .card_container{
        display: grid;
        gap: 1.75em;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        margin: 0 auto;
        /* flex-direction: row; */
        /* flex-wrap: unset; */
        /* align-items: unset; */
        min-height: auto;
        height: auto;
        justify-items: center;
        max-width: 900px;
    }

    .contacto_container{
        width: 100%;
        max-width: unset;
        margin: 0 auto 50px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1em;
    }

    .form_contacto_container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 400px;
    }

    .container_button{
        margin: 0;
    }

    .container_img--contacto{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;
        padding: 16px;
        margin: auto 0;
        background-image: url('../assets/img/fondo_contacto.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer{
        background-color: var(--back_2);
        width: 100%;

    }

    .footer_container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: 50px;
        padding: 0px 16px;
        display: flex;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
        align-items: center;
    }

    .social_media_icon{
        display: flex;
        /* justify-content: space-evenly; */
        /* width: 60%; */
        max-width: 150px;
        gap: 8px;
        margin: unset;
    }

    .social_media_icon .icon img{
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}