@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000;
    --black_1: #232323;
    --back_2: #333333;
    --gris: #E5E5E5;
    --green: #4CF148;
    --yellow: #FFBA08;
    --red: #ED062E;
    --red_2: #E53F41;
    --red_3: #AF1521;
    --blue: #2614f1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a{
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 48px;
    color: var(--black);
    font-weight: 700;
}

h2{
    font-size: 32px;
    color: var(--black);
    font-weight: 700;
}

h3{
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 12px 0;
}

p{
    font-size: 14px;
    color: var(--black);
    font-weight: 400;
    line-height: 20px;
}

ul{
    text-decoration: none;
}

li{
    text-decoration: none;
}

body {
background-color: var(--white);
}

.header_container{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: transparent;
    position: absolute;
    align-items: center;
    z-index: 10;
}

.nav{
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
    margin: 0 auto;
}

.nav_logo{
    font-family: 'Lato', sans-serif;
    padding: 2px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
}

.nav_logo:hover{
    text-decoration: none;
}

.nav_hamburger{
    /* display: none; */
    width: 23px;
    height: 15px;
    background-image: url('../assets/icon/menu_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 0;
    margin: 22px 16px;
    top: 0;
}

.nav_hamburger--open{
    width: 32px;
    height: 32px;
    background-image: url('../assets/icon/menu_icon--close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 0;
    margin: 14px 12px;
    top: 0;
    transition: 0.3s;
}

.nav_overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    transition: 0.5s ease-in;
}

.nav_overlay--show{
    display: unset;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
    z-index: 100;
}

.nav_menu{
    text-align: right;
    width: 100%;
    padding: 72px 64px;
    text-decoration: none;
}

.nav_item{
    display: flex;
    flex-direction: column;
    color: var(--blue);
    text-decoration: none;
}

.nav_link{
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
    color: var(--white);
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;

    position: relative;
    z-index: -2;

    overflow: hidden;

    background-color: transparent;
}

.hero--foto{
    width: 100%;
    height: 100vh;
    padding: 0 16px;

    position: fixed;
    top: 0;
    z-index: -1;
    overflow: hidden;
    
    background-image: url('../assets/img/foto_hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.hero_h1{
    display: inline-block;
    width: 300px;

    font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 700;
    
    position: relative;
    top: 450px;
    left: 10px;
    z-index: 1;

    color: var(--white);

    transition: 0.5s ease-in;
}

main{
    width: 100%;
    background-color: var(--white);
}

.main_container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

    background-color: var(--white);
}

.sobre_mi_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img_sobre_mi{
    display: none;

    width: 100%;
    height: 600px;
    background-image: url('https://i.ibb.co/9npqR0z/sobre-mi-img.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
}

.sobre_mi_container--text{
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
}

.sobre_mi{
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon_programas{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    
    padding: 14px 0;
    max-width: 400px;
}

.icon_programas img{
    padding: 5px;
    width: 45px;
    height: 45px;
}

.ul_habilidades{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 0 8px;
    padding: 14px;
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
}

.contacto a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.idiomas_p{
    display: flex;
    gap: 16px;
}

.idiomas p>span{
    font-size: 16px;
    font-weight: 600;
}

.trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 100%;
    max-width: 1440px;
}

.proyecto_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;

    position: relative;
}

.cards_container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    /* padding: 0 16px; */
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 300px;
    max-width: 400px;
    height: 300px;

    text-align: center;
}

.img_card{
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: 240px;

    background-color: var(--blue);

    transition: .3s ease-out;
}

.img_card:hover{
    scale: 1.05;
}

.card1{
    background-image: url('../assets/img/revolver_brand.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card2{
    background-image: url('../assets/img/logofolio_proyecto_cover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card3{
    background-image: url('../assets/img/social_media_viaje.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card4{
    background-image: url('../assets/img/landing_page_proyecto_cover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card5{
    background-image: url('../assets/img/to_do_list-tasklift_cover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card6{
    background-image: url('../assets/img/conejo-perdido-cover.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_card{
    display: inline-block;

    font-size: 16px;
    color: var(--black);
    font-weight: 400;
    line-height: 20px;

    margin: 8px 0;
}

.boton_trabajos{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 130px;
    height: 40px;
    margin: 0 auto;

    background-color: var(--red);
    color: var(--white);

    transition: 0.3s ease-in-out;
}

.boton_trabajos:hover{
    background-color: transparent;
    border: 1px solid var(--red);
    color: var(--black);

    text-decoration: none;
}

footer{
    background-color: var(--white);
}

.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
    width: 100%;
    padding: 32px 0;
}

.img_footer{
    width: 200px;
    height: 200px;

    background-color: var(--blue);
    background-image: url('../assets/img/foto_hero_v2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 100%;
}

.footer_container h2{
    text-align: center;

    width: 80%;
}

.contacto_boton{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 250px;
    height: 40px;

    background-color: var(--gris);
    border-radius: 8px;
}

.contacto_boton:hover{
    border: 1px solid var(--gris);
    background-color: transparent;

    text-decoration: none;
}

.container_links{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
    padding-bottom: 32px;
}

.container_links a{
    font-size: 13px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .hero_h1{
        position: relative;
        top: 450px;
        left: 10%;
        font-size: 32px;
        max-width: 300px;
        color: var(--black);
    }

    .sobre_mi_container--text{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;

        width: 100%;
        padding: 32px 16px;
        margin: 0 auto;
    }

    .cards_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 16px;

        width: 100%;
        max-width: 1440px;
        padding: 24px 16px 0;
    }
    
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        width: 100%;
        min-width: 300px;
        max-width: 400px;
        /* height: 300px; */
    
        text-align: center;
    }

    footer{
        padding-top: 32px;
    }

    .contacto_boton{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 320px;
        height: 45px;
    
        background-color: var(--gris);
        border-radius: 8px;

        outline: none;

        transition: 0.3s ease-out;
    }
}

@media (min-width: 1000px) {
    .nav_hamburger{
        display: none;
    }

    .nav_overlay{
        display: unset;
        position: unset;
        background-color: transparent;
        width: 100px;
        height: 100px;
        /* transition: 0.ms; */
    }

    .nav_menu{
        position: fixed;
        right: 0;
        left: unset;
        bottom: 0;
        top: 16px;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        width: 300px;
        height: 60px;
        padding: 0;
        text-decoration: none;
    }
    
    .nav_item{
        display: flex;
        flex-direction: row;
        gap: 16px;

        color: var(--black);
        text-decoration: none;
    }
    
    .nav_link{
        font-size: 16px;
        line-height: 54px;
        font-weight: 500;
        color: var(--black);
    }
    
    .sobre_mi_container{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
    }
    
    .img_sobre_mi{
        display: flex;
    
        width: 100%;
        height: 700px;
        background-color: transparent;
    }

    .sobre_mi_container--text{
        width: 100%;
        padding: 8px 16px 50px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 auto;
    }
    
    .sobre_mi{
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .cont_habil{
        display: flex;
        gap: 0px;
    }

    .sobre_mi{
        border-bottom: 1px solid var(--black);
        padding-bottom: 16px;
    }

    .contacto{
        border-left: 1px solid var(--black);
        padding-left: 24px;
    }

    .idiomas{
        border-top: 1px solid var(--black);
        padding-top: 8px;
    }

    .contacto_boton{
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 320px;
        height: 45px;
    
        background-color: var(--gris);
        border-radius: 8px;
    }
}