:root {
    --white: #FFFFFF;
    --black: #000;
    --black_1: #232323;
    --back_2: #333333;
    --gris: #E5E5E5;
    --green: #4CF148;
    --yellow: #FFBA08;
    --red: #ED062E;
    --red_2: #E53F41;
    --red_3: #AF1521;
    --blue: #5648F1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

a{
    font-size: 14px;
    color: var(--black);
    font-weight: 500;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    font-size: 48px;
    color: var(--black);
    font-weight: 700;
}

h2{
    font-size: 32px;
    color: var(--black);
    font-weight: 700;
}

h3{
    font-size: 20px;
    color: var(--black);
    font-weight: 500;
}

p{
    font-size: 14px;
    color: var(--black);
    font-weight: 400;
    line-height: 20px;
}

ul{
    text-decoration: none;
}

li{
    text-decoration: none;
}

body {
background-color: var(--white);
}

.header_container{
    width: 100%;
    height: 60px;
    max-width: 1440px;
    display: flex;
    background-color: transparent;
    position: absolute;
    align-items: center;
}

.nav{
    width: 100%;
    height: 100%;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
}

.nav_logo{
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -1px;
}

.nav_logo:hover{
    text-decoration: none;
}

.nav_hamburger{
    width: 23px;
    height: 15px;
    background-image: url('../assets/icon/menu_icon.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 0;
    margin: 22px 16px;
    top: 0;
}

.nav_hamburger--open{
    width: 32px;
    height: 32px;
    background-image: url('../assets/icon/menu_icon--close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    position: absolute;
    z-index: 200;
    right: 0;
    margin: 14px 12px;
    top: 0;
    transition: 0.3s;
}

.nav_overlay{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.nav_overlay--show{
    display: unset;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--black);
    width: 100%;
    height: 100vh;
    transition: 0.5s;
}

.nav_menu{
    text-align: right;
    width: 100%;
    padding: 72px 64px;
    text-decoration: none;
}

.nav_item{
    display: flex;
    flex-direction: column;
    color: var(--blue);
    text-decoration: none;
}

.nav_link{
    font-size: 32px;
    line-height: 54px;
    color: var(--white);
}


.hero--foto{
    width: 100%;
    height: 100vh;
    background-color: var(--blue);
    padding: 0 16px;
}

.hero--foto h1{
    position: relative;
    top: 250px;
    font-size: 32px;
}

.main_container{
    width: 100%;
    max-width: 1440px;
}

.sobre_mi_container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.img_sobre_mi{
    width: 100%;
    height: 600px;
    background-color: var(--red_2);
}

.sobre_mi_container--text{
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 auto;
}

.sobre_mi{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon_programas{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 14px 0;
}

.icon_programas img{
    width: 60px;
    height: 60px;
}

.ul_habilidades{
    margin: 0 0 0 8px;
    padding: 14px;
}

.contacto{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 12px;
}

.contacto h3{
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 12px 0;
}

.contacto a{
    display: flex;
    align-items: center;
    gap: 8px;
}

.idiomas h3{
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 12px 0;
}

.idiomas_p{
    display: flex;
    gap: 16px;
}

.idiomas p>span{
    font-size: 16px;
    font-weight: 600;
}