:root {
  --white: #FFFFFF;
  --black: #232323;
  --back_2: #333333;
  --gris: #E5E5E5;
  --green: #4CF148;
  --yellow: #FFBA08;
  --red: #ED062E;
  --red_2: #E53F41;
  --red_3: #AF1521;
  --blue: #5648F1;

  --p: 16px;
  --h3: 20px;
  --h2: 24px;
  --h1: 32px;
}

/*  */