:root {
    --white: #FFFFFF;
    --black: #232323;
    --back_2: #333333;
    --gris: #E5E5E5;
    --green: #4CF148;
    --yellow: #FFBA08;
    --red: #ED062E;
    --red_2: #E53F41;
    --red_3: #AF1521;
    --blue: #5648F1;

    --p: 16px;
    --h3: 20px;
    --h2: 24px;
    --h1: 32px;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

body {
background-color: var(--black);
}

.header_container{
    background-color: var(--back_2);
    width: 100%;
}

.container{
    width: 100%;
    background-color: var(--back_2);
    margin: 0 auto;
    overflow: hidden;
    max-width: 1440px;
}

.nav{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between
}

.nav_logo{
    color: var(--white);
    font-size: var(--h2);
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
}

.nav_hamburger{
    width: 30px;
    height: 30px;
    background-image: url('../assets/icon/menu_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0 16px;

    z-index: 100;
    transition: background-image .3s ;
}

.nav_hamburger--open{
    background-image: url('../assets/icon/menu_icon--close.svg');
}

.nav_overlay{
    position: fixed;
    inset: 0;

    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;
}

.nav_overlay--show{
    opacity: 1;
    pointer-events: unset;
}

.nav_menu{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: var(--back_2);
    width: 65%;
    max-width: 400px;
    padding: 0;
    list-style: none;
    overflow: auto;
    padding: 70px 0;
}

.nav_item{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    color: var(--white);
    cursor: pointer;
    padding: 20px 0;
}

.nav_link{
    color: var(--white);
    font-size: var(--h3);
    text-decoration: none;
    padding: 8px 0;
}

.nav_link:hover{
    text-decoration: underline;
}

.main_container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
}

.sobre_mi_container{
    width: 100%;
    margin: 0 auto 50px;
    display: flex;
    flex-direction: column;
}

.picture_sobre_mi{
    width: 100%;
    max-width: 500px;
    height: 500px;
    overflow: hidden;
    background-color: var(--back_2);
    margin: 0 auto;
    margin: 16px 0 32px;
}

.picture_sobre_mi img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.habilidades{
    width: 100%;
    max-width: 500px;
    height: 100%;
}

.sobre_mi{
    color: var(--white);
    padding: 0 16px;
}

.sobre_mi_h3{
    color: var(--white);
    font-size: var(--h2);
    padding: 0 0 16px;
    font-weight: 600;
}

.sobre_mi_p{
    font-size: var(--p);
    color: var(--white);
    line-height: 22px;
    font-weight: 300;
    padding: 0 0 32px;
}

.habilidades_container{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: var(--white);
    text-align: center;
}

.habilidades_h3{
    font-size: var(--h3);
    font-weight: 600;
    padding: 0 0 16px;
}

.habilidades_icons{
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 8px;
}

.habilidades_icons a img:hover{
    border-radius: 100%;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.75);
}

.proyectos_container, .servicios_container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 32px 0 50px;

}

.proyectos_h2, .servicios_h2{
    color: var(--white);
    font-size: var(--h2);
    font-weight: 700;
    padding: 0 0 16px;
}

.card_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 500px;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 448px;
    min-width: 328px;
    height: 100%;
    min-height: 190px;
    max-height: 260px;
    padding: 16px 0;
    gap: 16px;
}

.card a{
    color: var(--white);
    font-size: var(--p);
    font-weight: 500;
}

.ver_mas_link{
    display: inline-block;
    margin: 32px 0 16px;
    font-weight: 300;
    font-size: var(--p);
    color: var(--red_2);
    text-decoration: none;
}

.ver_mas_link:hover{
    text-decoration: underline;
}

.card_img--to-do-list{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img--calculadora{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img--social-media-post{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img--landing-page-estatica{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img--pack-social-media-post{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_img--low-poly-art{
    width: 100%;
    min-width: 328px;
    min-height: 190px;
    background-color: var(--back_2);
    /* background-image: url('../assets/img/cover_facebook_proyecto.jpg'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Contacto */

.contacto_container{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.contacto_h3{
    color: var(--white);
    font-size: var(--h3);
    font-weight: 700;
    text-align: center;
    padding: 16px 0 32px;
}

.inputs_container{
    display: flex;
    flex-direction: column;
}

.inputs_container label{
    color: var(--white);
    font-size: var(--p);
    font-weight: 300;
    padding: 0 0 8px;
}

.inputs_container input{
    width: 100%;
    height: 40px;
    background-color: var(--gris);
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin: 16px 0;
}

.inputs_container textarea{
    background-color: var(--gris);
    width: 100%;
    height: 300px;
    margin: 0 0 32px;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.container_button{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    background-color: var(--red_3);
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.container_button a{
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--white);
    font-size: var(--p);
    font-weight: 500;
}

.container_button a:hover{
    text-decoration: none;
}

/* Footer */

.footer_container{
    width: 100%;
    height: 150px;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: var(--back_2);
}

.footer_container p{
    text-align: center;
    color: var(--white);
    font-weight: 300;
}

.social_media_icon{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}

.social_media_icon .icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
}